TS_MANAGER_URL=https://scjrdomain.com
TS_BIND_HOST=127.0.0.1
TS_WS_PORT=8900
TS_CADDY_AUTO_MANAGE=1
TS_CADDY_REQUIRED=1
TS_CADDY_EXE=./caddy/caddy.exe
TS_CADDY_DIR=./caddy
TS_CADDY_ADMIN=127.0.0.1:2020
TS_CADDY_START_TIMEOUT=10
