{
	admin 127.0.0.1:2019
}

scjrdomain.com {
	encode zstd gzip

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "same-origin"
	}

	@internal_only path /docs /openapi.json /quotes
	handle @internal_only {
		respond 404
	}

	handle {
		reverse_proxy 127.0.0.1:8800
	}
}
