{
	admin 127.0.0.1:2020
}

www.ts01.scjrdomain.com {
	encode zstd gzip

	@client_ws path /ws
	handle @client_ws {
		reverse_proxy 127.0.0.1:8900
	}

	@sm_admin path /api/admin/force-disconnect /api/admin/interactive-brokers/validate /api/register/pre-approve-check
	handle @sm_admin {
		reverse_proxy 127.0.0.1:8900
	}

	handle {
		respond 404
	}
}
